@media (max-width: 575.98px) {
  .contact-box li {
    margin-left: 0px !important;
  }
  .social-box {
    border: none;
  }
}

@media (max-width: 767.98px) {
  .ws-footer-col {
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
  }
  .ws-footer-col:last-child {
    border: none;
  }
}

@media (max-width: 991.98px) {
  .contact-box li {
    border-left: none;
  }
  .dropdown-menu .dropdown-menu {
    margin-right: 0.7rem;
    margin-left: 0.7rem;
    margin-bottom: 0.5rem;
  }
  .about-badge {
    right: 30px;
  }
}

@media (max-width: 1199.98px) {
}

@media (max-width: 1399.98px) {
}

@media (min-width: 576px) {
  .ws-slider-btns {
    flex-grow: 0;
    width: max-content;
  }
}

@media (min-width: 768px) {
  .ws-slider-caption-container {
    padding: 10px 8.5rem;
  }
  .ws-slider-big-text {
    font-size: 3rem;
  }
  .ws-slider-top-text {
    font-size: 1.5rem;
  }
  .carousel-control-next,
  .carousel-control-prev {
    align-items: center;
    margin-bottom: initial;
    margin-right: initial;
  }
  .ws-comment-container {
    margin-right: 100px;
    margin-left: 100px;
  }
}

@media (min-width: 992px) {
  .nav-item.dropdown:hover > .dropdown-menu {
    display: block;
  }
  .dropdown-menu li {
    position: relative;
  }
  .nav-item .submenu {
    display: none;
    position: absolute;
    right: 100%;
    top: -7px;
  }
  .nav-item .submenu-left {
    left: 100%;
    right: auto;
  }
  .dropdown-menu > li:hover {
    background-color: #f1f1f1;
  }
  .dropdown-menu > li:hover > .submenu {
    display: block;
  }
  .ws-slider-image-container {
    height: 880px;
  }
  #ws-newsletter {
    padding: 120px 0px;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
