body {
  font-family: "iransans";
}
.odometer.odometer-auto-theme,
.odometer.odometer-theme-default {
  font-family: "iransans" !important;
}
.entext {
  font-family: tahoma;
}
.social-box li {
  width: 30px;
  height: 30px;
  background-color: var(--ws-primary);
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 30px;
  margin-left: 3px !important;
}
.social-box i {
  font-size: 13px;
}
.search-box i {
  position: absolute;
  left: 5px;
  top: 9px;
  color: var(--ws-primary);
}
.upmenu {
  background-color: #fafafa;
  color: #5d6678;
}
.contact-box i {
  color: var(--ws-primary);
  font-size: 15px;
}
.social-box {
  border-left: 1px solid #e1e1e1;
}
.contact-box li {
  border-left: 1px solid #e1e1e1;
  padding-left: 10px;
  line-height: 35px;
}
.contact-box li:last-child {
  border-left: none;
}
.search-box input {
  border: none;
  border-bottom: 1px solid #e1e1e1;
  background-color: transparent;
  padding: 5px 10px;
  outline: none;
}

/***********begin : navbar classes************/
.navbar-brand img {
  max-width: 60px;
}
.nav-item {
  padding: 0px 10px;
}
.dropdown-menu {
  padding: 0;
  border: none;
  border-top: 3px solid var(--ws-primary);
  border-radius: 0px;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 5%);
}
.dropdown-menu li {
  min-width: 220px;
}
.dropdown-menu li a {
  padding-top: 5px !important;
  padding-bottom: 10px !important;
  font-size: 14px;
}
/***********end : navbar classes************/
.ws-slider-image-container {
  height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.ws-slider-image-container::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--ws-secondary);
  opacity: 0.7;
  position: absolute;
  right: 0;
  top: 0;
}
.ws-slider-caption-container {
  z-index: 99;
  padding: 10px 2rem;
  max-width: 100%;
}
.ws-slider-top-text {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 7px 12px;
  color: #fff;
  width: max-content;
  max-width: 100%;
  text-align: center;
  font-size: 0.8rem;
}
.ws-slider-big-text {
  font-size: 1.3rem;
  color: #fff;
  font-weight: bold;
}
.carousel-control-next,
.carousel-control-prev {
  align-items: flex-end;
  margin-bottom: 100px;
  z-index: 999999999;
}
.carousel-control-prev {
  margin-right: 10px;
}
.carousel-control-next {
  margin-left: 10px;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  border: 1px solid;
  /* padding: 21px; */
  /* display: inline-block; */
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-size: 60%;
  transition: all 0.5s;
}
.carousel-control-next-icon:hover {
  background-color: var(--ws-primary);
  border-color: var(--ws-primary) !important;
}
.carousel-control-prev-icon:hover {
  background-color: var(--ws-primary);
  border-color: var(--ws-primary) !important;
}
.ws-slider-btns {
  flex-grow: 1;
  width: 100%;
}
.feature-box {
  box-shadow: 0 15px 20px 0 #f1f1f1;
  padding: 30px;
  border-radius: 10px;
  background-color: #fff;
  transition: all 0.5s;
  border-bottom: 3px solid #f1f1f1;
}
.feature-box:hover {
  transform: translate(0px, -10px);
  border-bottom: 3px solid var(--ws-primary);
}
.feature-box-title {
  font-weight: 900;
  font-size: 22px;
  color: var(--ws-secondary);
  transition: all 0.5s;
  cursor: pointer;
}
.feature-box-title:hover {
  color: var(--ws-primary);
}
#ws-feature-boxes-container {
  margin-top: -80px;
  position: relative;
  z-index: 999;
}
.ws-vip-list li {
  list-style-type: none;
  list-style-position: inside;
}
.ws-vip-list li::before {
  content: "\f14a";
  font-family: "Font Awesome 5 Free";
  margin-left: 5px;
  color: var(--ws-primary);
}
.about-badge {
  width: max-content;
  padding: 15px;
  position: absolute;
  right: -30px;
  bottom: 70px;
  background-color: #fff;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  box-shadow: 0 30px 45px 0 #ffe19e;
}
.about-badge::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 40px solid #fff;
  border-left: 108px solid transparent;
  position: absolute;
  right: 0px;
  bottom: -38px;
}
#ws-services {
  background-color: #f7fafd;
}
.ws-icon-box {
  background: var(--ws-primary);
  width: 75px;
  height: 75px;
  border-radius: 10px;
  text-align: center;
  line-height: 75px;
  color: #fff;
  transition: all 0.5s;
}
.service-box {
  padding: 30px;
  transition: all 0.5s;
  background-color: #fff;
  border-radius: 10px;
}
.service-box:hover {
  box-shadow: 0 0 20px 0 #f1f1f1;
  transform: translateY(-10px);
}
.service-box:hover .ws-icon-box {
  background: var(--ws-secondary);
}
#ws-counter {
  background-color: var(--ws-secondary);
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 6rem 0 5.5rem 0;
  position: relative;
}
#ws-counter::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
#ws-counter div {
  z-index: 999;
}
.odometer {
  direction: ltr !important;
}
.ws-post-container-1 {
  width: 100%;
  height: 490px;
  background-color: var(--ws-primary);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.ws-post-container-1::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(to top, rgb(0, 0, 0), transparent);
}
.ws-post-container-1:hover {
  transform: translateY(-10px);
}
.ws-post-container-1:hover .ws-post-category {
  color: #fff;
}
.ws-post-container-1:hover::before {
  background: linear-gradient(to top, var(--ws-primary), transparent);
}
.post-title-container {
  z-index: 99;
}
.ws-post-category {
  color: var(--ws-primary);
  transition: all 0.5s;
}
.ws-post-title {
  color: #fff !important;
}
.ws-post-title:hover {
  color: var(--ws-secondary) !important;
}
.ws-post-container-2 {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px 0 #f1f1f1;
}
.ws-post-head {
  width: 100%;
  height: 225px;
}
.ws-post-body {
  width: 100%;
}
.post-meta li {
  list-style-type: none;
  list-style-position: inside;
  margin-left: 15px;
}
.post-meta li i {
  color: var(--ws-primary);
  margin-left: 3px;
}
.post-meta {
  width: max-content;
}
#ws-comments {
  background-color: #f7fafd;
}
.ws-comment-container {
  background-color: #fff;
  border-radius: 30px;
  margin-top: 5rem;
  position: relative;
  padding: 0rem 2.5rem 4rem 2.5rem;
  box-shadow: 0 0 85px 0 #f1f1f1;

  margin-top: 6rem;
  margin-bottom: 2rem;
}
.ws-avatar {
  border-radius: 50%;
  border: 4px solid #fff;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin-top: -50px;
}
.ws-avatar img {
  width: 100%;
  height: 100%;
}
.ws-comment-starts i {
  color: var(--ws-color-3);
}
.ws-comment-writer {
  font-weight: bold;
  color: var(--ws-secondary);
  font-size: 20px;
}
.ws-comment-quote {
  position: absolute;
  font-size: 6rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  z-index: 1;
  color: var(--ws-primary);
  opacity: 0.05;
}
.ws-comment-container *:not(.ws-comment-quote) {
  z-index: 99;
}
/* .swiper {
  width: 600px;
  height: 300px;
} */
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0px !important;
}
.swiper {
  padding-bottom: 2rem;
}
.swiper-pagination-bullet {
  background: var(--ws-primary);
  height: 15px;
  width: 15px;
}
.ws-comment-container::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 20px;
  background-color: #fff;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  bottom: -20px;
  right: 5%;
}
.ws-partner-logo-box {
  text-align: center;
}
.ws-partner-logo-box img {
  filter: grayscale(100%);
  transition: all 0.5s;
  max-width: 100%;
}
.ws-partner-logo-box:hover img {
  filter: grayscale(0%);
}
#ws-video {
  height: 400px;
  width: 100%;
  background-image: url("../images/video-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
#ws-video::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
}
.ws-video-btn {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.ws-video-btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  top: 0;
  right: 0;
  border-radius: 50%;
  animation: pulse 1300ms infinite ease-out;
}
.ws-video-btn::after {
  content: "";
  position: absolute;
  width: 90%;
  height: 90%;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: all 0.5s;
}
.ws-video-btn i {
  font-size: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  color: var(--ws-primary);
  transition: all 0.5s;
}
@keyframes pulse {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(1.3);
  }
}
.ws-video-btn:hover::after {
  background-color: var(--ws-primary);
}
.ws-video-btn:hover i {
  color: #fff;
}
.ws-video-container {
  width: 100%;
}
#wsVideoModal .modal-content {
  background: transparent !important;
  border: none !important;
}
#wsVideoModal .modal-header {
  border: none !important;
}

#wsVideoModal .btn-close {
  margin: 0;
}
.ws-btn-close {
  color: #fff;
  font-size: 40px;
  cursor: pointer;
}
.modal-header {
  padding: 0;
}
.modal-body {
  padding: 0;
  margin-top: 10px;
}
#ws-newsletter {
  width: 100%;
  padding: 60px 0px;
  background-image: url("../images/subscribe-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}
.ws-nl-submit {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.ws-nl-input {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #fff;
}
.socials-container {
  display: flex;
}
.socials-container li {
  list-style-type: none;
  list-style-position: inside;
  margin-left: 15px;
  background-color: var(--ws-primary);
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  font-size: 14px;
  transition: all 0.5s;
}
.socials-container a {
  color: #fff !important;
  width: 100%;
  height: 100%;
  display: block;
}
.socials-container li:hover {
  background-color: var(--ws-secondary);
}
.socials-container li:hover a {
  color: var(--ws-primary) !important;
}
.ws-simple-ul li {
  list-style-type: none;
  list-style-position: inside;
  margin-bottom: 10px;
}
.ws-icon-box-mini {
  background-color: var(--ws-primary);
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  font-size: 14px;
  color: #fff;
}
#ws-top-slider {
  position: relative;
}
#ws-top-slider::before {
  content: "X";
  font-size: 30px;
  color: var(--ws-color-3);
  position: absolute;
  left: 10%;
  top: 10%;
  z-index: 999;
  animation: rotate360 15000ms infinite linear;
}
#ws-top-slider::after {
  content: "X";
  font-size: 30px;
  color: var(--ws-primary);
  position: absolute;
  right: 15%;
  bottom: 28%;
  z-index: 999;
  animation: rotate360 15000ms infinite linear;
}
@keyframes rotate360 {
  0% {
  }
  100% {
    transform: rotate(360deg);
  }
}
.ws-top-btn {
  position: fixed;
  left: 20px;
  bottom: 20px;
  color: var(--ws-primary) !important;
  font-size: 30px;
}
.ws-copyright {
  font-size: 0.8rem;
  text-align: center;
}
